*{
    margin: 0px;
    padding: 0px;
   
}

:root{
    --color-azul-escuro: #0d0221;
    --color-azul-claro: #a6cfd5;
    --color-azul: #26408b;
    --color-azul-fundo: #456fb3;

}

.none{
    display: none;
}
.flex{
  display: flex;
}

.contact-active{
    border-bottom: 3px solid var(--color-azul);
}

#nav{
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507);
}

nav{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.723);
    padding: 5px;
}

div.logo-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

div.logo-nav img{
    width: 85px;
    height: 75px;
    margin: 8px 1em 8px 1.5em;
}

div#content-nav{
   
    flex-direction: column;
}

div#content-nav ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;

}

div#content-nav ul a {
    text-decoration: none;
    color: black;
}

div#content-nav ul a:hover {
   color: var(--color-azul-fundo);
  

}

div#content-nav ul li {
    
    padding: 1.9em;

}
div#content-nav ul li:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: var(--color-azul-fundo)
    
}



div.icons-nav{
    display: none;
}

#menu-hamburguer{
    margin: 0.7em;
    font-size: 32px;
    cursor: pointer;
}

.icon{
    width: 25px;
    height: 25px;
    margin: 10px 15px ;

}

.icon:hover{
    transform: scale(1.17);
    transition: 250ms;
    cursor: pointer;

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(#0d0221, #456fb3, #456fb3);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 14em 1em 8em 1em;
    font-family: 'Roboto', sans-serif;

}

header h1{
    text-align: center;

}

header h1:hover{
   color: var(--color-azul);
   transition: 700ms;
    cursor: pointer;
    
}

section#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em 1em;
    
}

#form-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form-content h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    width: 65%;
}

#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    

}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 40px 30px 0px

}


#contact h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin: 3em 0em 1.6em 0em;
}

.row{
    width: 90%;
}

form input{
    border: 1px solid rgb(151, 151, 151);
    padding: 15px;
    width: 100%;
    border-radius: 3px;
}



.row1-form input{
    margin: 1.2em 0em;
}

.row2-form input{
    margin: 1.2em 0em;
}




form input::placeholder{
    color:rgb(151, 151, 151) ;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;

}

form textarea{
    margin-left: 25px;
    padding: 1em;
    width: 88%;
    min-width: 88%;
    max-width: 88.5%;
    margin-top: 10px;
}

form textarea::placeholder{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

form button{
    color: white;
    background-color: var(--color-azul);
    padding: 1.15em 2em;
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 3em 0em 1.5em 0em;

}

form button:hover{
    transform: scale(1.04);
    transition: 400ms;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.alert-success{
    color: rgb(6, 209, 6);
    margin: 2.1em 0em 0em 0em;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.alert-danger{
    color: rgb(234, 4, 4);
    margin: 2.1em 0em 0em 0em;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.row-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around ;
}

.row-contact:hover{
    cursor: pointer;
}

.row-contact span{
    
}

.row-contact p{
    margin: 1.5em 1em;
    color: rgb(150, 150, 150);
    font-family: 'Roboto', sans-serif;
}

.row-contact p:hover{
    color: #0d0221;
    font-size: 17px;
    transition: 600ms;
}




footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25em 1em 2em 1em;
    font-family: 'Roboto', sans-serif;
    


}

.desktop{
    display:none ;
   
}

.bold{
    font-weight: bolder;
}


footer img{
    width: 102px;
    height: 92px;
    margin: 1em;
   

}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.content-footer p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(150, 150, 150);
    width: 80%;
    
}

.mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 1em 1em;
}

.footer-icons{
    margin: 2px;
}

.content-aside{
    flex-direction: column;
}

.content-aside p{
    margin: 3px;
    color: #19053e

}

.content-aside a {
    margin: 3px;
    color: rgb(150, 150, 150)
    
}

.hide{
    display: none;
}

.p-content{
    margin: 10px 0px;

}




@media (min-width:788px) {
    nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 1em;
        
    }
    
        
    div#content-nav{
        display: flex;
    }
    
    
    div.logo-nav{
     
        width: auto;
    
    }
    
    div#content-nav ul {
        display: flex;
        flex-direction: row;
    }
    
    div#content-nav ul li{
    
       padding: 2.4em 1.9em;
    
    }
    
    div#content-nav ul li:hover{
        box-shadow:none;
        border-bottom: 4px solid var(--color-azul);
       transition: 300ms;
        
    }
    
    div.icons-nav{
        display: flex;
       margin: 1em;
       
    }
    
    #menu-hamburguer{
        display: none;
    }
    
    header{
        height:auto;
        align-items:center;
        padding: 17em 1em 8em 1em;
        background-image: linear-gradient(#0d0221, #456fb3, #456fb3);
        background-position: center;
        
    }

    form{
        
        margin: 30px 15px 30px 0px
    
    }
    


    .row{
        width: 95%;
        
    }

    form textarea{
        width:95% ;
        min-width:95% ;
        max-width:95.5% ;
    }


   

   

    .desktop{
        display:flex ;
    }
    .mobile{
        display: none;
    }
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .right{
        margin-left: 5vw;
    }

    

    
}

@media (min-width:1000px) {

    .content-header h1{
        font-size: 4em ;
      
    }
    
    .content-header p{
        font-size: 18px ;
      
        
    }

    header{
        padding: 15em 1em 8em 1em;
    }

    .div-content p{
        margin: 0.25em 1.5em 1.5em 1.5em;
    }

    section#content{
        flex-direction: row;
        justify-content: space-around;
        align-items:  start;

    }

    #contact{
        margin-right:5em;
        align-items: start;

    }

    form{
        width: 70vw;
        margin: 30px 0px 30px 0px
        
    }

    .row{
        display: flex;
        width: 65%;
    }

    
    form textarea{
        width:59% ;
        min-width:59% ;
        max-width:59.5% ;
        margin-left: -30px;
    }


    .row-contact p:hover{
        color: #0d0221;
        font-size: 16px;
        transition: 600ms;
    }

    .row1-form input{
        margin-right: 2em;
        
    }

    .row2-form input{
        margin-right: 2em;
        
    }


 

    #contact h2{
        margin:0.3em 0em 1.5em 0em ;
    }

 
    .right{
        margin-left: 8.25vw;
    }

    footer{
        padding: 1.25em 2em 1.5em 1.5em;
    }
    
    
   
    
}

@media (max-width: 570px) {

    .row{
        width: 85%;
    }

    #form-content h2{
        width: 85%;
    }

    form textarea{
        width: 85%;
        min-width: 85%;
        max-width: 85.5%;
        margin-left: 20px;
    }

    section#content{
        padding: 6em 2em 6em 1em;
    }

    form{
       
        margin: 30px 10px 30px 0px
    
    }
    

    
}