*{
    margin: 0px;
    padding: 0px;
   
}

:root{
    --color-azul-escuro: #0d0221;
    --color-azul-claro: #a6cfd5;
    --color-azul: #26408b;
    --color-azul-fundo: #456fb3;
    --color-azul-escuro2:  #002d77f2;

}

.active-home{
    border-bottom: 3px solid var(--color-azul-fundo);
}

#nav{
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.150);
    z-index: 10;
}

nav{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.723);
    padding: 5px;
}

div.logo-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}



div.logo-nav img{
    width: 85px;
    height: 75px;
    margin: 8px 8px 8px 1.5em;
}

div#content-nav{
   
    flex-direction: column;
}

div#content-nav ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;

}

div#content-nav ul a {
    text-decoration: none;
    color: rgb(87, 87, 87);
    ;
}

div#content-nav ul a:hover {
   color: var(--color-azul-fundo);
  

}

div#content-nav ul li {
    
    padding: 1.9em;

}
div#content-nav ul li:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: var(--color-azul-fundo)
    
}



div.icons-nav{
    display: none;
}

#menu-hamburguer{
    margin: 1em;
    cursor: pointer;
}

.icon{
    width: 23px;
    height: 23px;
    margin: 8px 13px ;

}

.icon:hover{
    transform: scale(1.17);
    transition: 250ms;
    cursor: pointer;

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(#0d0221, #456fb3, #456fb3);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 5em 1em 6em 1em;
    font-family: 'Roboto', sans-serif;

}

.content-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 9em 1em 5em 1em;

}

.content-header h1{
    text-align: center;
    margin: 0.8em;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.content-header p{
    text-align: center;
}

button{
    background-color: var(--color-azul);
    padding: 1.15em 2em;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    
}

button:hover{
    transform: scale(1.03);
    transition: 400ms;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

button a {
    text-decoration: none;
    color: white;
}

section#introduction{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    
    

}


section#introduction img{
    display: none;
}

.introduction-content{
    width: 78%;
}

.introduction-content h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 1.5em;
    font-size: 2em;
    color: rgb(7, 7, 7);
      
   }

.introduction-content p{
    margin-bottom: 1em;
    color: rgb(150, 150, 150);
    line-height: 25px;
   
}

.introduction-content button{
    margin-top: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
   }

section#services{
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient( #0d0221, #002d77f2 );

}

.service{
    padding: 5em 2em 3em 2em;
    height: 75vh;
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

}

.service-Work:hover{
    padding: 5em 2em 3.5em 2em;
    transition: 1000ms;
    box-shadow: inset 0px 0px 100px 40px rgba(0, 0, 0, 0.550);
    
}

.service-System:hover{
    padding: 5em 2em 3.5em 2em;
    transition: 1000ms;
    box-shadow: inset 0px 0px 100px 40px rgba(0, 0, 0, 0.550);
    
}

.service-Clean:hover{
    padding: 5em 2em 3.5em 2em;
    transition: 1000ms;
    box-shadow: inset 0px 0px 100px 40px rgba(0, 0, 0, 0.550);
    
}

.service-Security:hover{
    padding: 5em 2em 3.5em 2em;
    transition: 1000ms;
    box-shadow: inset 0px 0px 100px 40px rgba(0, 0, 0, 0.550);
    
}

.service h2 {
    font-size:3em ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}

.service p{
    font-family: 'Roboto', sans-serif;
}

.service-Security{
    background-image: url(/images/services-security.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.service-Work{
    background-image: url(/images/services-work.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.service-Clean{
    background-image: url(/images/services-security.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.service-System{
    background-image: url(/images/services-system.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

section#certification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 2em 9.5em 2em;
    height: 100vh;
}

section#certification h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: -15px;
}

.h1-certification{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 1.45em;
}

.certification-content{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.certification-content h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 10px 0px;

}

.certification-content p {
    color: rgb(150, 150, 150);
    font-family: 'Roboto', sans-serif;
}

.certifications{
    margin: 0.75em 0em;
}

section#proposal{
    display: flex;
    flex-direction: column;
    padding: 2.5em 1em 1.75em 1em;
    background-image: linear-gradient(var(--color-azul-escuro2), #0d0221 );
    color: white;
}

.proposal-content {
    margin-bottom: 1.5em;
}

.proposal-content h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    
}

.proposal-content p {
    font-family: 'Roboto', sans-serif;
    
}

section#proposal button{
    width: 250px;
}

section#references{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 3em 4.75em 3em;
    
    
    height: 98vh;
}

section#references h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.85em;
    margin-bottom: -16px;

}

#carrousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 2em 1em;
    width: 85%;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
     

}
::-webkit-scrollbar{
    background-color: transparent;
   
}

#carrousel img{
    height: 115px;
   
    margin: 0em 2em;
    transition:600ms ;

}


#carrousel-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
}

#carrousel-parent span{
    color: var(--color-azul);
    font-size: 3em;
    margin-bottom: 30px;
}

#carrousel-parent :hover{
    cursor: pointer;
    color: var(--color-azul-claro);
    transition: 400ms;
}






footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25em 1em 2em 1em;
    font-family: 'Roboto', sans-serif;
    


}

.desktop{
    display:none ;
   
}

.bold{
    font-weight: bolder;
}


footer img{
    width: 56px;
    height: 56px;
    margin-bottom: 1em;
    
    

}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.content-footer p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(150, 150, 150);
    width: 80%;
    
}

.mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 1em 1em;
}

.footer-icons{
    margin: 1em;
}

.content-aside{
    flex-direction: column;
}

.content-aside p{
    margin: 3px;
    color:var(--color-azul-fundo);
    font-size: 15px;

}

.content-aside a {
    margin: 3px;
    color: rgb(150, 150, 150);
    font-size: 12px;
    
}

.hide{
    display: none;
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transition: all 0.75s;
}

.show{
    opacity: 1;
    animation: show 1.3s ;
    filter: blur(0px);
    transition: all 0.75s;


}

.active{

    opacity: 1;
}

.active-left{

    opacity: 1;
}

.active-right{

    opacity: 1;
}

.p-content{
    margin: 10px 0px;

}


@keyframes show {

    from{
        opacity: 0;
        transform: translateX(-15rem);

    }
    to{
        transform: translateX(0rem);

    }
    
}




@media (min-width: 788px) {

nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1em;
    
}

    
div#content-nav{
    display: flex;
}


div.logo-nav{
 
    width: auto;

}

div#content-nav ul {
    display: flex;
    flex-direction: row;
}

div#content-nav ul li{

   padding: 2.4em 1.9em;

}

div#content-nav ul li:hover{
    box-shadow:none;
    border-bottom: 4px solid var(--color-azul);
   transition: 300ms;
    
}



#menu-hamburguer{
    display: none;
}

header{
    height: 90vh;
    align-items: start;
    padding: 10em 0em 10em 9em;
    background-image: url(/images/fundo-headerT1.png);
    background-position: top center;
    
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4.5em 1em;
    width: 55%;

}

.content-header h1{
    font-size: 3.5em ;
    text-align: left;
    margin: 0.45em 0em;
}

.content-header p{
    font-size: 15px ;
    text-align: left;
    line-height: 30px;
    margin-right: 85px;
    
}


#main-header button {
    padding: 1.4em 3em;


}

#main-header button:hover{
    transform: scale(1.03);
    transition: 400ms;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

#main-header button a{
    font-size: 1.3em;
 


}

section#introduction img{
    display: flex;
    max-width: 600px;
    margin: 4em 2em;
}

section#introduction{

    flex-direction: column;
    padding: 5em 3em;
   

}



.introduction-content{
    width: 78%;
}

.introduction-content h1{
   
    margin-bottom: 1.5em;
    font-size: 2.4em;
      
   }

.introduction-content p{
    margin-bottom: 1em;
  
   
}

.introduction-content button{
    margin-top: 1.5em;
    font-size: 1em;
    padding: 1.15em 2.15em;

      
   }

  .introduction-content button:hover{
    transform: scale(1.03);
    transition: 400ms;
   
}

   section#services{
    flex-direction: row;

}

.service{
    height: 20vh;
    padding: 20em 2em 1.25em 2em;
    width: 25vw;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.service p:hover{
    cursor: pointer;
}

.service h2:hover{
    cursor: pointer;
    color: var(--color-azul-claro);
}

.service-Security:hover{
  
    transition: 1000ms;
    
}
.service-Security:hover{
    padding: 17.75em 2em 3.5em 2em;
    transition: 700ms;
    
}

.service-Work:hover{
    transition: 1000ms;
    
}
.service-Work:hover{
    padding: 17.75em 2em 3.5em 2em;
    transition: 700ms;
    
}

.service-Clean:hover{
    transition: 1000ms;
    
}
.service-Clean:hover{
    padding: 17.75em 2em 3.5em 2em;
    transition: 700ms;
    
}

.service-System:hover{
    transition: 1000ms;
    
}
.service-System:hover{
    padding: 17.75em 2em 3.5em 2em;
    transition: 700ms;
    
}


.service h2{
    font-size: 1.25em;
}

.service p{
    font-size: 15px;
}

section#proposal{
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5em 1em 1.75em 1em;
}

section#proposal button{
    width: auto;
    margin: 5px 2em;
}

section#proposal button:hover{
    margin: 2px 1.8em;
    font-size: 14.5px;
}

section#references h1{

    font-size: 2.3em;

}

.desktop{
    display:flex ;
}
.mobile{
    display: none;
}
footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.right{
    margin-left: 5vw;
}




    
}

@media (min-width:1000px) {

    .content-header h1{
        font-size: 4.4em ;
      
    }
    
    .content-header p{
        font-size: 18px;
        margin-right: 150px;
      
        
    }

    header{
        padding: 10.75em 0em 10em 9em;
    }

    div.icons-nav{
        display: flex;
       margin: 1em;
       
    }

    div.logo-nav img{
        width: 85px;
        height: 75px;
        margin: 8px 4.65em 8px 2.5em;
    }
    

    section#introduction{

        flex-direction: row;
        padding: 6.5em 3em 6.5em 3em;
        height: 100vh;
       
    
    }

    section#introduction img{
        
        margin: 0em 1em 0em 3em;
    }
    
    .introduction-content{
        width: 78%;
        max-width: 500px;
    }
    
    .introduction-content h1{
       
        margin-bottom: 1.25em;
        font-size: 2.7em;
          
       }
    
    .introduction-content p{
        margin-bottom: 1em;
      
       
    }
    
    .introduction-content button{
        margin-top: 2em;
          
       }

       .service{
       
        padding: 22em 2em 1.5em 2em;
        
    }

    .service h2{
        font-size: 1.6em;
    }

    section#certification{
        padding: 0em 2em 4em 2em;
    }

    .certification-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 85%;
    }

    .certifications{
        margin: 0.75em 3em;
    }

    section#proposal{
        flex-direction: row;
        justify-content: space-around;
        padding: 3.1em 1em 2.75em 1em;
    }

    section#proposal button{
        width: auto;
        margin: 5px 2em;
    }

    section#proposal h1{
        font-size: 1.85em;
    }


    section#proposal button a {
        font-size: 1.25em;
    }
    
    .right{
        margin-left: 8.25vw;
    }

    footer{
        padding: 1.25em 2em 1.85em 1.5em;
    }

    footer a {
        font-size: 14px;
    }
    
    .service-Security:hover{
        transition: 1000ms;
        
    }
    .service-Security:hover{
        padding: 20em 2em 3.5em 2em;
        transition: 700ms;
        
    }

    .service-Work:hover{
        transition: 1000ms;
        
    }
    .service-Work:hover{
        padding: 20em 2em 3.5em 2em;
        transition: 700ms;
        
    }

    .service-Clean:hover{
        transition: 1000ms;
        
    }
    .service-Clean:hover{
        padding: 20em 2em 3.5em 2em;
        transition: 700ms;
        
    }

    .service-System:hover{
        transition: 1000ms;
        
    }
    .service-System:hover{
        padding: 20em 2em 3.5em 2em;
        transition: 700ms;
        
    }

    #carrousel{
        width: auto;
    }

    .button-prev{
        margin-left: 2em;
    }

    .button-next{
        margin-right: 2em;
    }
    
    
    
}

@media (max-width:580px) {

    .proposal-content h1{
     
        font-size: 1.2em;
        
    }
    
    .proposal-content p {
        font-size:14.5px
      
        
    }

    section#references{
        padding: 3.7em 3em 4.5em 3em;
    }
    
    section#references h1{
        font-size: 1.67em;
        margin-bottom: -16px;
    
    }

    section#certification{
        padding: 10.5em 2em 10em 2em;
    }
    
    section#certification h1{

        font-size: 2.4em;
        margin-bottom: -15px;
    }


    
}