*{
    margin: 0px;
    padding: 0px;
   
}

:root{
    --color-azul-escuro: #0d0221;
    --color-azul-claro: #a6cfd5;
    --color-azul: #26408b;
    --color-azul-fundo: #456fb3;

}

.none{
    display: none;
}
.flex{
  display: flex;
}

.institucional-active{
    border-bottom: 3px solid var(--color-azul-fundo);
}

#nav{
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507);
}

nav{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.723);
    padding: 5px;
}

div.logo-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

div.logo-nav img{
    width: 85px;
    height: 75px;
    margin: 8px 1em 8px 1.5em;
}

div#content-nav{
   
    flex-direction: column;
}

div#content-nav ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;

}

div#content-nav ul a {
    text-decoration: none;
    color: black;
}

div#content-nav ul a:hover {
   color: var(--color-azul-fundo-);
  

}

div#content-nav ul li {
    
    padding: 1.9em;

}
div#content-nav ul li:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: var(--color-azul-fundo-)
    
}



div.icons-nav{
    display: none;
}

#menu-hamburguer{
    margin: 0.7em;
    font-size: 32px;
    cursor: pointer;
}

.icon{
    width: 25px;
    height: 25px;
    margin: 10px 15px ;

}

.icon:hover{
    transform: scale(1.17);
    transition: 250ms;
    cursor: pointer;

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(#0d0221, #456fb3, #456fb3);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 14em 1em 8em 1em;
    font-family: 'Roboto', sans-serif;

}

header h1{
    text-align: center;

}

header h1:hover{
   color: var(--color-azul-fundo);
   transition: 700ms;
    cursor: pointer;
    
}

section#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 4em;
    
}

.div-content{
    margin: 20px 10px;
}

.div-content p{
    color: rgb(150, 150, 150);
    margin: 1.5em;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
   
}

.div-content ul{
    color: rgb(150, 150, 150);
    list-style-type: disc;
    font-family: 'Roboto', sans-serif;
    margin: 2.4em;
}


.div-content ul li{
    margin: 25px 0px;
}




.h2-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 1em 1.45em;
}

.h2-content h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-bottom: -17px;
    font-size: 2.4em;
}

.h2-content span{
    margin-left: -8px;
}


section#services{
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient( #0d0221, #456fb3, #456fb3 );

}

.service{
    padding: 5em 2em 3em 2em;
    height: 75vh;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

}

.service-Work:hover{
    padding: 5em 2em 3.5em 2em;
    transition: 1000ms;
    box-shadow: inset 0px 0px 100px 40px rgba(0, 0, 0, 0.781);
    
}

.service-System:hover{
    padding: 5em 2em 3.5em 2em;
    transition: 1000ms;
    box-shadow: inset 0px 0px 100px 40px rgba(0, 0, 0, 0.781);
    
}

.service-Clean:hover{
    padding: 5em 2em 3.5em 2em;
    transition: 1000ms;
    box-shadow: inset 0px 0px 100px 40px rgba(0, 0, 0, 0.781);
    
}

.service-Security:hover{
    padding: 5em 2em 3.5em 2em;
    transition: 1000ms;
    box-shadow: inset 0px 0px 100px 40px rgba(0, 0, 0, 0.781);
    
}

.service h2 {
    font-size:3em ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}

.service p{
    font-family: 'Roboto', sans-serif;
}

.service-Security{
    background-image: url(/images/services-security.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.service-Work{
    background-image: url(/images/services-work.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.service-Clean{
    background-image: url(/images/services-security.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.service-System{
    background-image: url(/images/services-system.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25em 1em 2em 1em;
    font-family: 'Roboto', sans-serif;
    


}

.desktop{
    display:none ;
   
}

.bold{
    font-weight: bolder;
}


footer img{
    width: 102px;
    height: 92px;
    margin: 1em;
    

}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.content-footer p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(150, 150, 150);
    width: 80%;
    
}

.mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 1em 1em;
}

.footer-icons{
    margin: 2px;
}

.content-aside{
    flex-direction: column;
}

.content-aside p{
    margin: 3px;
    color: #19053e

}

.content-aside a {
    margin: 3px;
    color: rgb(150, 150, 150)
    
}

.hide{
    display: none;
}

.p-content{
    margin: 10px 0px;

}




@media (min-width:788px) {
    nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 1em;
        
    }
    
        
    div#content-nav{
        display: flex;
    }
    
    
    div.logo-nav{
     
        width: auto;
    
    }
    
    div#content-nav ul {
        display: flex;
        flex-direction: row;
    }
    
    div#content-nav ul li{
    
       padding: 2.4em 1.9em;
    
    }
    
    div#content-nav ul li:hover{
        box-shadow:none;
        border-bottom: 4px solid var(--color-azul);
       transition: 300ms;
        
    }
    
    div.icons-nav{
        display: flex;
       margin: 1em;
       
    }
    
    #menu-hamburguer{
        display: none;
    }
    
    header{
        height:auto;
        align-items:center;
        padding: 17em 1em 8em 1em;
        background-image: linear-gradient(#0d0221, #456fb3, #456fb3);
        background-position:  center;
        
    }


   

    section#services{
        flex-direction: row;
    
    }
    
    .service{
        height: 20vh;
        padding: 20em 2em 1.25em 2em;
        width: 25vw;
        border-right: 1px solid rgba(255, 255, 255, 0.7);
    }
    
    .service-Security:hover{
      
        transition: 1000ms;
        
    }
    .service-Security:hover{
        padding: 17.75em 2em 3.5em 2em;
        transition: 700ms;
        
    }
    
    .service-Work:hover{
        transition: 1000ms;
        
    }
    .service-Work:hover{
        padding: 17.75em 2em 3.5em 2em;
        transition: 700ms;
        
    }
    
    .service-Clean:hover{
        transition: 1000ms;
        
    }
    .service-Clean:hover{
        padding: 17.75em 2em 3.5em 2em;
        transition: 700ms;
        
    }
    
    .service-System:hover{
        transition: 1000ms;
        
    }
    .service-System:hover{
        padding: 17.75em 2em 3.5em 2em;
        transition: 700ms;
        
    }
    
    
    .service h2{
        font-size: 1.25em;
    }
    
    .service p{
        font-size: 15px;
    }

    .desktop{
        display:flex ;
    }
    .mobile{
        display: none;
    }
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .right{
        margin-left: 5vw;
    }
    
}

@media (min-width:1000px) {

    .content-header h1{
        font-size: 4em ;
      
    }
    
    .content-header p{
        font-size: 18px ;
      
        
    }

    header{
        padding: 15em 1em 8em 1em;
    }

    .div-content p{
        margin: 0.25em 1.5em 1.5em 1.5em;
    }

   

    .service{
       
        padding: 22em 2em 1.5em 2em;
        
    }

    .service h2{
        font-size: 1.6em;
    }

    .right{
        margin-left: 8.25vw;
    }

    footer{
        padding: 1.25em 2em 1.5em 1.5em;
    }
    
    .service-Security:hover{
        transition: 1000ms;
        
    }
    .service-Security:hover{
        padding: 20em 2em 3.5em 2em;
        transition: 700ms;
        
    }

    .service-Work:hover{
        transition: 1000ms;
        
    }
    .service-Work:hover{
        padding: 20em 2em 3.5em 2em;
        transition: 700ms;
        
    }

    .service-Clean:hover{
        transition: 1000ms;
        
    }
    .service-Clean:hover{
        padding: 20em 2em 3.5em 2em;
        transition: 700ms;
        
    }

    .service-System:hover{
        transition: 1000ms;
        
    }
    .service-System:hover{
        padding: 20em 2em 3.5em 2em;
        transition: 700ms;
        
    }
    section#content{
        padding: 4em 10em;
    }

    .row-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 5em 10px 2em 10px;
    }

    .column-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    
}

@media (max-width: 570px) {

    section#content{
        padding: 3em 0.2em;
    }

    .div-content p{
        font-size: 16px;
    }
    
}